<!DOCTYPE html>
<HTML>
	<HEAD>
		<title>Школа вокала "Голосовое"</title>
		<meta charset="utf-8">
	</HEAD>
	<BODY bgcolor="#B0E0E6">
		<h1 style="text-align: center"><span style="font-family: Arial;">Добро пожаловать в Школу вокала "Голосовое"!</span></h1>
		<p style="text-align: center"><em>
			В нашей школе вокала мы обучаем всем направлениям от эстрадного до академического и экстрим вокала,<br> берем студентов любого уровня подготовки - от начинающих до профи, и любых возрастных групп - как детей, так и взрослых.</em>
		</p>
		<form style="display: inline;" action="/login">
			<input type="submit" value="Войти">
		</form>
		<form style="display: inline;" action="/registration">
			<input type="submit" value="Регистрация">
		</form>
	</BODY>
</HTML>