<!DOCTYPE html>
<html lang="en">
<head>
    <title>Школа вокала "Голосовое"</title>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<form action="/service" method="get">
		<input type="submit" value="Назад">
	</form>
<body bgcolor="#B0E0E6">
<div style="text-align: center">
  {% for module in modules %}
    <p><b>
      {{module.module.name}}
    </b>
    <p><em>
      Осталось занятий: {{module.quantity}}
    </em>
    </p>
    <p>
      ------------------------
    </p>
  {% endfor %}
</div>
</body>
</html>