<!DOCTYPE html>
<HTML>
	<HEAD>
		<title>Школа вокала "Голосовое"</title>
		<meta charset="utf-8">
	</HEAD>
	<form action="/login" method="get">
		<input type="submit" value="Вход">
	</form>

	<BODY bgcolor="#B0E0E6">
	<div style="text-align: center">
			<h1>Школа вокала "Голосовое"</h1>
		<h2>Регистрация</h2>
		<form action="/register" method="post" content="application/json">
        <input type="text" name="name" placeholder="Пользователь"/><br>
        <input type="text" name="password_" placeholder="Пароль"/><br>
        <input type="text" name="phone" placeholder="+7**********"/><br>
            <input type="text" name="address" placeholder="Адрес"/><br>
            <input type="submit" value="Создать">
    	</form>
    </div>

	</BODY>
</HTML>